.env
.env.*
!.env.example

node_modules
npm-debug.log

.git
.gitignore
.github

storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

bootstrap/cache/*.php

tests
phpunit.xml

README.md
CHANGELOG.md
docker-compose*.yml
